@using Logarex.Models

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <PageTitle>@PlatformSettings.PlatformName</PageTitle>
    </Found>
    <NotFound>
        <PageTitle>@PlatformSettings.PlatformName</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Страница не найдена</p>
        </LayoutView>
    </NotFound>
</Router>
